@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vw;
	min-height: 100vh;

	font-family: 'Montserrat', sans-serif;
}

.container {
	position: relative;
}

.node {
	position: absolute;
	left: var(--x);
	top: var(--y);

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--size);
	height: var(--size);

	background: rgba(0, 0, 0, var(--alpha));
	box-shadow: inset 0px 0px 0px 0.5px #d2d2d2;
	font-size: 0.75rem;

	user-select: none;
}

.node:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #d0d0d0;
	color: white;
	text-align: center;
	padding: 3px;

	content: attr(data-content);
}

.node:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #2dbdb6;
	color: white;
	text-align: center;
	padding: 3px;

	content: attr(data-parent);
}

.node:before,
.node:after {
	display: none;
}

.is-neighbour {
	background: #a8eca8;
}

.is-start {
	background: #5bea5b;
}

.is-end {
	background: red;
}

.is-water {
	background: #66b1dc
}

.is-closed {
	background: #3c3c3c;
}

.is-current {
	background: #22a2ce;
}

.is-path {
	background: #f74b73;
}

.ui {
	position: absolute;
	z-index: 1;

	bottom: 0;
	right: 0;
}

.is-level-1 {
	background: #dedede;
}

.is-level-2 {
	background: #b1afaf;
}

.is-level-3 {
	background: #757575;
}

.is-level-4 {
	background: #292929;
}
