$body-width: 577px;
$body-height: 450px;

$ring-width: 427px;
$ring-height: $ring-width;

$disc-width: 384px;
$disc-height: $disc-width;

$arm-width: 70px;
$arm-height: 400px;

$color-disc: #1e1e1e;
$color-glow: #00bfff;