html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: black;
	font-family: "Playfair Display", serif;
}

.title {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(4rem, 10vw, 10rem);
	font-weight: 900;
	color: white;

	pointer-events: none;
	z-index: 15;

	.go {
		animation: fadeIn 2s ease-in-out;
	}
}

canvas {
	position: fixed;
	inset: 0;
	z-index: var(--layer);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

