html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: black;
	font-family: "Playfair Display", serif;
}

.title {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(4rem, 10vw, 10rem);
	font-weight: 900;
	color: white;

	pointer-events: none;
}

