/* RESET STYLES
----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
    border: 0;
    outline: 0; }

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section { display: block; }
 
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
input { outline:none; }
a img { border: 0; }
:focus { outline: 0; }
a:hover, a:active { outline: none; }
* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/* GENERAL
----------------------------------------------- */
html, body {
    background:#FFF;
    color:#2e2e2e;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    height: 100%;
    width: 100%;
    line-height:21px; }
    
@font-face {
    font-family: 'DinProRegular';
    src: url('dinpro-regular-webfont.eot');
    src: url('dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinpro-regular-webfont.woff') format('woff'),
         url('dinpro-regular-webfont.ttf') format('truetype'),
         url('dinpro-regular-webfont.svg#DinProRegular') format('svg');
    font-weight: normal;
    font-style: normal; }
    
@font-face {
    font-family: 'DinProMedium';
    src: url('dinpro-medium-webfont.eot');
    src: url('dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinpro-medium-webfont.woff') format('woff'),
         url('dinpro-medium-webfont.ttf') format('truetype'),
         url('dinpro-medium-webfont.svg#DinProMedium') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'DinProBold';
    src: url('din-bold-webfont.eot');
    src: url('din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-bold-webfont.woff') format('woff'),
         url('din-bold-webfont.ttf') format('truetype'),
         url('din-bold-webfont.svg#DinProBold') format('svg');
    font-weight: normal;
    font-style: normal; }
        
strong  {font-weight:bold;}
em      {font-style:italic;}

#container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

#canvas {
    background: #232323;
    position: absolute;
    z-index: 0;
}

.component {
    border: 1px solid #ccc;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
        border-radius: 10px;
    padding: 20px 40px;
    float: left;
    margin: 10px 30px;
    position: absolute;
    clear: both;
}

.component h3 {
    font-weight: bold;
    display: block;
    clear: both;
    text-align: center;
    margin: 0;
}

.component .drag {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    background: #eee;
    border: 3px solid #ccc;
    cursor: pointer;
}

.component .close {
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    font-size: 1.3em;
}

.component .input,
.component .output {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: -15px;
    background: #eee;
    border: 3px solid #ccc;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.component .input { left: -15px; }
.component .output { right: -15px; }

.component .input.active,
.component .output.active {
    background: #85e049;
}



.component.sound {
    top:  300px;
    left: 10px;
    margin-top: -100px;
}
.component.master {
    right: 50px;
    top: 185px;
}

.visual-container {
    width: 150px;
    height: 150px;
    float: left;
    -webkit-border-radius: 75px;
    overflow: hidden;
    background: white;
    margin: 20px;
    -moz-box-shadow:inset -1px -3px 16px #8f8f8f;
    -webkit-box-shadow:inset -1px -3px 16px #8f8f8f;
    box-shadow:inset -1px -3px 16px #8f8f8f;
    background: -moz-radial-gradient(center, ellipse cover, #c9c9c9 1%, #ffffff 55%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#c9c9c9), color-stop(55%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #c9c9c9 1%,#ffffff 55%); /* Chrome10+,Safari5.1+ */
    background-position: center center;
    background-repeat: no-repeat;;
}

.visual-container canvas {
    width: 100%;
    height: 100%;
}

.visual-container#uv-container #pin {
    width: 2px;
    height: 300px;
    background: black;
    bottom: 100px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 0% 100%;
    margin: 0 auto;
}
