$color-gray-light: #ccc;

$base-size: 1rem;

$distance-s:  $base-size * 0.25;
$distance-m:  $base-size * 0.5;
$distance-l:  $base-size * 0.75;

@import 'layout/content';
@import 'layout/grid';

@import 'components/canvas';
@import 'components/card';
