@property --progress-scroll {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

body {
  animation: portal 1ms linear forwards;
  animation-timeline: scroll(root);
  animation-range: 0 100%;
}

.section {
  width: 100vw;
  min-height: 100vh;
}

.container {
  min-height: 200vh;
}

.text-container {
  position: fixed;
  width: 100%;

  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal {
  width: 5vw;
  height: clamp(200px, 30vh, 600px);

  &.portal--from {
    border-left: 3px solid orange;
  }

  &.portal--to {
    border-right: 3px solid blue;
  }
}

.text {
  --offset-x-base: calc(100% * var(--progress-scroll));
  --font-size: calc(var(--font-size-fluid-2) * 1);

  position: relative;
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: var(--font-weight-9);
  text-align: center;

  overflow: hidden;

  &.text--a {
    --offset-x: var(--offset-x-base);
  }

  &.text--b {
    --offset-x: calc(-100% + var(--offset-x-base));
  }

  .text-inner {
    transform: translateX(var(--offset-x));
  }
}

@keyframes portal {
  from {
    --progress-scroll: 0;
  }

  to {
    --progress-scroll: 1;
  }
}

