$module: '.slider';

#{$module} {
	position: relative;

	width: 30px;
	height: 200px;

	background: black;

	cursor: pointer;

	&__handle {
		position: absolute;

		width: 100%;
		height: 20px;

		top: 50%;

		margin-top: -10px;

		background: grey;

		transform-origin: 50% 50%;
	}
}
