@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Bebas Neue', cursive;
}

.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.clock {
	width: 500px;
	aspect-ratio: 8 / 3;
	perspective: 1000px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	perspective: 1000px;
}

.hour,
.minute {
	position: relative;
	transform-style: preserve-3d;
}

.flipper {
	position: absolute;
	width: 100%;
	height: 50%;

	transition: transform 0.3s cubic-bezier(.64,.24,.84,.47);
	transform-style: preserve-3d;
	transform-origin: left bottom;

	color: #fff;

}

.flipper.is-flipped {
	transform: rotateX(-180deg) translateZ(-1px);
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;

	font-size: 10rem;
	text-align: center;
	backface-visibility: hidden;
	background: linear-gradient(60deg, rgba(43,43,43,1) 3%, rgba(0,0,0,1) 79%);
	border-radius: 5px;

	overflow: hidden;
}

.back {
	transform: rotateX(180deg);
}

.back .number {
	position: relative;
	bottom: 100%;
}
