@property --progress-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

body {
  min-height: 200vh;
}

.container {
  --radius: 50vw;

  margin-block: 90vh;

  transform: translate(calc(var(--radius) * -1), 0%);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text {
  --index: sibling-index();
  --count: sibling-count();

  --progress-y: 1;

  --angle-start: 90deg;
  --angle-end: 90deg;

  --angle-x: calc(var(--angle-start) - (var(--angle-end) * var(--progress-y)));
  --angle-y: calc(var(--angle-start) - (var(--angle-end) * var(--progress-y)));

  --x: calc(var(--radius) * cos(var(--angle-x)));
  --y: calc(var(--radius) * sin(var(--angle-y)));

  transform: translate(var(--x), var(--y));

  margin-inline: auto;

  font-size: var(--font-size-fluid-3);
  text-transform: uppercase;
  font-weight: var(--font-weight-9);

  animation: zipper 1ms linear forwards;
  animation-timeline: view(block);
  animation-range: entry 0% contain 100%;

  &:nth-child(even) {
    --modifier: -1;
  }

  &:nth-child(odd) {
    --modifier: -1;
  }
}

@keyframes zipper {
  from {
    --progress-y: 0;
  }

  to {
    --progress-y: 1;
  }
}

