@property --progress-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

body {
  --progress-y: 1;

  padding-block: 100vh;
  min-height: 200vh;

  animation: zipper 1ms linear forwards;
  animation-timeline: scroll(root);
  animation-range: 0 100%;
}

.container {
  position: fixed;
  inset: 50% 0 0 50%;
  transform: translate(-50%, 0%);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text {
  --index: sibling-index();
  --count: sibling-count();
  --angle-start: 90deg;
  --angle-end: 90deg;

  --radius: 300px;
  --angle-x: calc(var(--angle-start) - (var(--angle-end) * var(--progress-y)));
  --angle-y: calc(var(--angle-start) - (var(--angle-end) * var(--progress-y)));

  --x: calc(var(--radius) * cos(var(--angle-x)));
  --y: calc(var(--radius) * sin(var(--angle-y)));

  transform: translate(var(--x), var(--y));

  margin-inline: auto;

  font-size: var(--font-size-fluid-3);
  text-transform: uppercase;
  font-weight: var(--font-weight-9);

  &:nth-child(even) {
    --modifier: -1;
  }

  &:nth-child(odd) {
    --modifier: -1;
  }
}

@keyframes zipper {
  from {
    --progress-y: 0;
  }

  to {
    --progress-y: 1;
  }
}

