html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: #fff;
}

canvas {
	border: 1px solid;
}

canvas:nth-of-type(1) {
	/* background: red; */
}
